advertise_addr = "{{  ansible_facts['default_ipv4']['address'] }}"
bind_addr = "0.0.0.0"
client_addr = "0.0.0.0"
datacenter = "consul-dc"
data_dir = "/opt/consul"

# Log settings 
log_file = "/etc/consul/logs/"
log_level = "DEBUG"

{% if is_server == 'true' %}
bootstrap_expect=1
server = true
ui_config {
  enabled = true
}
{% else %}
server = false 
retry_join = ["provider=aws tag_key=is_server tag_value=true"]
{% endif %}

ports {
  http = 8500
}
